@mixin btnNormal() {
    background-color: var(--white);
    color: var(--text-color);
    border: 1px solid #b4b4b4;
    
    &:hover {
        cursor: pointer;
    }
    &:active {
        opacity: 0.7;
    }
}
@mixin btnPrimary() {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    &:hover {
        cursor: pointer;
        background-color: #c13036;
    }
    &:active {
        opacity: 0.7;
    }
}
@mixin btnSecondary() {
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    &:hover {
        cursor: pointer;
        background-color: #275fb9;
    }
    &:active {
        opacity: 0.7;
    }
}
@mixin filterType() {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #5f5f5f;
}
@mixin inputRange() {
    border: 1px solid var(--divider-color);
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #8c8c8c;
    padding: 10px;
}
