.wrapper-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--white);
    height: 64px;
    box-shadow: inset 0px -1px 0px #f1f1f1;
    .wrapper-header__user-operations {
        float: right;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 20%;
        margin-right: 1rem;
        & > p {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
        }
    }
}
