@import "../../../theme/mixin.scss";
.overlay__pop-up {
    background-color: rgba(30, 45, 61, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    .add-brand__pop-up {
        position: absolute;
        top: 5%;
        left: 40%;
        right: 0;
        background: var(--white);
        width: 30%;
        border-radius: 6px;
        z-index: 999;
        padding-bottom: 20px;
        box-shadow: 0px -1px 2px rgba(35, 35, 35, 0.08), 0px 4px 8px rgba(35, 35, 35, 0.1);
        .add-brand__header {
            display: flex;
            padding: 1rem 20px;
            align-items: center;
            justify-content: space-between;
            background: #fafafa;
            box-shadow: inset 0px -1px 0px #f1f1f1;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            .add-brand__header-title {
                & > p:first-child {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: var(--text-color);
                }
                & > p:last-child {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    color: var(--secondary-text-color);
                }
            }
            .close-icon {
                background: #f1f1f1;
                border-radius: 50%;
                border: 1px solid #e3e3e3;
                &:hover {
                    cursor: pointer;
                }
                &:active {
                    opacity: 0.7;
                }
            }
        }
        .add-brand__body {
            padding: 20px;
            .add-brand__add-logo {
                & > p {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    color: var(--text-color);
                    border-bottom: 1px solid var(--divider-color);
                    padding-bottom: 10px;
                }
                .add-brand__add-file {
                    position: relative;
                    margin: 2rem 0px;
                    & > input {
                        display: none;
                    }
                    .add-brand__img-preview {
                        border-radius: 50%;
                        width: 120px;
                        height: 120px;
                    }
                    .add-brand__add-zone {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background: #fafafa;
                        padding: 8% 10px;
                        width: 25%;
                        border: 1px dashed #e3e3e3;
                        border-radius: 50%;
                        &:hover {
                            cursor: pointer;
                        }
                        &:active {
                            opacity: 0.7;
                        }
                        & > p {
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 20px;
                            color: #8c8c8c;
                        }
                    }
                }
            }
            .add-brand__add-detail {
                & > p {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    color: var((--text-color));
                    border-bottom: 1px solid var(--divider-color);
                    padding-bottom: 10px;
                }
                .add-brand__input-detail {
                    margin: 5% 0px;
                    display: flex;

                    & > input {
                        width: 100%;
                        height: 40px;
                        border: 1px solid #e3e3e3;
                        border-radius: 6px;
                        padding: 0 10px;
                        font-size: 14px;
                        line-height: 24px;
                        color: #232323;
                        &::placeholder {
                            color: #8c8c8c;
                        }
                    }
                    .add-brand__input-brand-name {
                        & > input {
                            border: 1px solid #e3e3e3;
                            border-radius: 4px;
                            outline: none;
                            padding: 10px;
                            &::placeholder {
                                color: #8c8c8c;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                            }
                        }
                        & > p {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 22px;
                            color: #8c8c8c;
                        }
                    }
                }
                .add-brand__status-dropdown {
                    margin-left: 5%;
                    width: 100%;
                    & > p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        color: #8c8c8c;
                    }
                    .wrapper-dropdown__status-brand {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-radius: 48px;
                        padding: 5px 15px;
                        margin-top: 5px;
                        .status-title--active {
                            color: var(--active--text-color);
                        }
                        .status-title--inactive {
                            color: var(--inactive-color);
                        }
                        &:hover {
                            cursor: pointer;
                        }
                        &:active {
                            opacity: 0.7;
                        }
                        .dot-status--active {
                            background-color: var(--active--text-color);
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                        }
                        .dot-status--inactive {
                            background-color: var(--inactive-color);
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                        }
                        .status-title {
                            color: var(--active--text-color);
                        }
                        &:hover {
                            cursor: pointer;
                        }
                        &:active {
                            opacity: 0.7;
                        }
                    }
                    .dropdown-status {
                        position: relative;
                        .wrapper-dropdown__status--none {
                            display: none;
                        }
                        .wrapper-dropdown__status {
                            position: absolute;
                            background: #ffffff;
                            border: 1px solid #e3e3e3;
                            box-shadow: 0px -1px 2px rgba(35, 35, 35, 0.08), 0px 4px 8px rgba(35, 35, 35, 0.1);
                            width: 60%;
                            border-radius: 4px;
                            padding: 10px;
                            .option-status--active {
                                display: flex;
                                align-items: center;
                                background-color: #cef7e2;
                                border-radius: 48px;
                                padding: 5px 0px 5px 10px;
                                margin-bottom: 10px;
                                &:hover {
                                    cursor: pointer;
                                }
                                &:active {
                                    opacity: 0.7;
                                }
                                & > p:last-child {
                                    color: var(--active--text-color);
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 24px;
                                }
                                .dot-status--active {
                                    background-color: var(--active--text-color);
                                    width: 12px;
                                    height: 12px;
                                    border-radius: 50%;
                                    margin-right: 10px;
                                }
                            }
                            .option-status--inactive {
                                display: flex;
                                align-items: center;
                                padding-left: 10px;
                                &:hover {
                                    cursor: pointer;
                                }
                                &:active {
                                    opacity: 0.7;
                                }
                                .dot-status--inactive {
                                    background-color: var(--inactive-color);
                                    width: 12px;
                                    height: 12px;
                                    margin-right: 10px;
                                    border-radius: 50%;
                                }
                                & > p {
                                    color: var(--inactive-color);
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 24px;
                                }
                            }
                        }
                    }
                }
                .add-brand__description {
                    margin-bottom: 5%;
                    & > p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        color: #8c8c8c;
                    }
                    & > textarea {
                        width: 100%;
                        resize: none;
                        padding: 10px;
                        height: 80px;
                        outline: none;
                        border-color: var(--divider-color);
                        &::placeholder {
                            color: #8c8c8c;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
        .wrapper-btn__add-pop-up {
            float: right;
            & > :first-child {
                @include btnNormal();
                border-radius: 4px;
                padding: 1.2rem;
            }
            & > :last-child {
                @include btnSecondary();
                border-radius: 4px;
                padding: 1rem;
                margin-left: 10px;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
}
