.wrapper-services {
    background-color: #232323;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & > div > p {
        color: var(--red-primary);
    }
}
