@import "../../../../theme/mixin.scss";
.wrapper-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    .wrapper-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0px;
        background-color: var(--white);
        .wrapper-contact__items-info {
            display: flex;
            justify-content: space-between;
            margin-left: 60px;
            .wrapper-contact__location {
                width: fit-content;
                display: flex;
                & > i > svg {
                    margin-right: 1rem;
                    width: 18px;
                    height: 18px;
                }
                & > p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
            .wrapper-contact__divider {
                border-right: 1px solid var(--divider);
                margin: 0px 1rem;
            }
            .wrapper-contact__email {
                width: fit-content;
                display: flex;
                & > i > svg {
                    margin-right: 1rem;
                    width: 18px;
                    height: 18px;
                }
                & > p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
        .wrapper-contact__telephone {
            margin-right: 5%;
            display: flex;
            & > i > svg {
                margin-right: 1rem;
                width: 18px;
                height: 18px;
            }
            & > p {
                font-family: "Inter";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
    .wrapper-navbar {
        display: flex;
        background-color: var(--text-color);
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        .wrapper-navbar__nav-items {
            display: flex;
            list-style-type: none;
            & > li > p {
                margin: 0px 50px;
                color: var(--white);
                &:hover {
                    cursor: pointer;
                }
            }
        }
        & > i {
            margin-left: 5rem;
        }
        & > button {
            @include btnPrimary();
            margin-right: 6rem;
            border-radius: 5px;
            padding: 1rem;
            width: 10%;
        }
    }
}
